  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&family=Space+Grotesk:wght@300;400;600&display=swap');

  body {
    background: linear-gradient(-45deg, #ff4a4a, #FF8E53, #FFAA1D, #FFD500);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

    h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 50px;
    text-align: center;    
    }

    p{
        font-family: 'Space Grotesk', sans-serif;
        line-height: 1.5;
        background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(14, 14, 14));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        height: 20%;
        margin-top: 100;
        display: flex;
        justify-content: center;
        align-items: center;

    }